<div class="contianer">
  <div class="card-container">
      <mat-card class="signup-card">
          <h2>Login</h2>
          <form >
            <mat-form-field appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput  required>
            </mat-form-field>
        
            <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input matInput type="password"  required>
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit" (click)="loginDash()">Login</button>
          </form>
          <span class="dont-have">Don't have an account? <span class="signup" (click)="signupCall()">Register here</span> </span>
        </mat-card>
        
  </div>
</div>
