.contianer{
    height: 100%;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    }
    h2{
        text-align: center;
    }
    .card-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    form {
        width: 100%;
        mat-form-field{
            width: 100%;
        }
        button {
            margin: auto;
            display: block;
            width: 80%;
            border-radius: 25px;
            margin-top: 12px;
        }
    }
    
    .signup-card{
        background: #f5f5f5;
        margin: 0 12px;
        border-radius: 12px;
        padding: 24px 16px;
    }
    
    .mat-checkbox{
        padding: 16px 12px;
    }
    span.dont-have{
        text-align: center;
        font-size: 12px;
        display: block;
        padding-top: 16px;

        .signup{
            color: green;
        }
    }
