<div class="contianer">
    <div class="card-container">
        <mat-card class="signup-card">
            <h2>Signup</h2>
            <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
              <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" required>
              </mat-form-field>
          
              <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" required>
              </mat-form-field>
          
              <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password" required>
              </mat-form-field>
          
              <button mat-raised-button color="primary" type="submit" [disabled]="!signupForm.valid" (click)="loginNav()">Sign Up</button>
            </form>
          </mat-card>
          
    </div>
</div>
